.jumbotron img {
  width: 200px;
  border: 5px solid black;
}

body {
  background-image: url("city.jpg");
  margin-bottom: 120px;
  margin-top: 30px;
}

html {
  position: relative;
}
hr {
  width: 250px;
  border-top: 3px solid #86d780;
}

.section {
  min-height: 600px;
}

.portfolio {
  background-color: #86d780;
}